@{
    ViewBag.Title = "Hakkımda";
}

<h2>Öğrenci Bilgileri</h2>
<hr />

<div class="row">
    <div class="col-md-3 text-center">
        <img src="@Url.Content("~/Images/yusuf.png")"class="img-responsive img-thumbnail" style="margin-bottom: 20px; border-radius:30%; width:400px; height:300px; object-fit:cover;" />
        <h4>Yusuf Eken</h4>
        <p><small>İnternet Programcılığı II - Final Projesi</small></p>
    </div>
    <div class="col-md-9">
        <dl class="dl-horizontal">
            <dt>Öğrenci No:</dt>
            <dd>231601034</dd> 

            <dt>Adı Soyadı:</dt>
            <dd>Yusuf Eken</dd>

            <dt>Bölümü:</dt>
            <dd>Bilgisayar Teknolojileri</dd>

            <dt>Programı:</dt>
            <dd>Bilgisayar Programcılığı</dd>

            <dt>Ders Adı:</dt>
            <dd>İnternet Programcılığı II</dd>
        </dl>
    </div>
</div>