@{
    ViewBag.Title = "İletişim Bilgileri";
}


    <div class="col-md-6">
        <img src="@Url.Content("~/Images/iletisim_image.jpeg")" alt="Okul Resmi" class="img-responsive img-thumbnail" style="max-height: 300px; margin: auto;" />
    </div>
<div class="row">
<hr />
<h2>İletişim Bilgileri</h2>
    <div class="col-md-6">
        <address>
            <strong>Adres:</strong><br>
            Yazıpınar Mah. Kalıcı Konutlar Küme Evleri No: 61<br />
            Adres Kodu:2959618899<br />
            Gölyaka / DÜZCE 81800<br />
        </address>
        <address>
            <strong>Telefon No:</strong><br>
             (0380) 711 31 23
        </address>
        <address>
            <strong>Faks:</strong><br>
            (0380) 711 31 90
        </address>
        <address>
            <strong>E-Posta:</strong><br>
            golmyo@duzce.edu.tr
        </address>
    </div>
</div>